:root {
    --gray: #aaaaaa;
    --silver: #dddddd;
    --teal: #39cccc;
    --red: #ff4136;
}

div.container div.row div.content {
    margin-left: -16px !important;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: var(--silver); */
    padding: 50px 20px;
    border-radius: 10px;
    margin: 50px 0px;
    box-shadow: 5px 5px 7px #aaaaaa;
}
.img-container {
    width: 50%;
    padding: 0px 20px;
}
.people-img {
    width: 100%;
}

.description {
    width: 50%;
    padding: 0px 20px;
}
.description h3 {
    color: #39cccc;
}
.about {
}
.about-desc {
    position: relative;
    background-color: var(--silver);
    padding: 30px;
    border-radius: 15px;
    font-style: italic;
    color: var(--bs-gray-700);
}
.party-img {
    width: 300px;
    display: block;
    margin: 0 auto;
    box-shadow: 5px 5px 5px var(--gray);
}
.about-rating {
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 5px 5px 7px #aaaaaa;
    border-radius: 10px;
}
.about-rating p {
    color: var(--gray);
}
.about-rating-desc {
    font-size: 25px;
    color: var(--teal);
    display: block;
    margin: 0 auto;
}
.rating-stars {
    width: 80%;
    list-style: none;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.bi-star-fill {
    color: var(--red);
    font-size: 40px;
    margin: 15px;
}
.bi-emoji-smile-upside-down {
    position: absolute;
    top: -30px;
    left: -20px;
    color: var(--red);
    font-size: 30px;
}

@media screen and (max-width: 1000px) {
    .about-rating {
        margin-top: 100px;
    }
}
@media screen and (max-width: 775px) {
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .img-container{
        width: 100%;
        margin-bottom: 30px;
    }
    .description{
        width: 100%;
    }
}
